div .Headerprops {
  display: flex;
  margin: 10px 30px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 0.5em;
}

.pick-up-line {
  font-weight: bold;
}
